<!DOCTYPE web-app PUBLIC
  '-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN'
  'http://java.sun.com/dtd/web-app_2_3.dtd'>


<web-app>

	<!-- 拦截器 -->
	<filter>
		<filter-name>setCharacterEncoding</filter-name>
		<filter-class>com.fp.filter.EncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>setCharacterEncoding</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>


	<!-- 请求名称 -->
	<servlet>
		<servlet-name>apriori</servlet-name>
		<servlet-class>com.fp.mining.apriori.Apriori</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>fpgrowth</servlet-name>
		<servlet-class>com.fp.mining.fpgrowth.FPGrowth</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>eclat</servlet-name>
		<servlet-class>com.fp.mining.eclat.Eclat</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>download</servlet-name>
		<servlet-class>com.fp.util.Download</servlet-class>
	</servlet>
	
	
	<!-- 请求映射 -->
	<servlet-mapping>
		<servlet-name>apriori</servlet-name>
		<url-pattern>/apriori</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>fpgrowth</servlet-name>
		<url-pattern>/fpgrowth</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>eclat</servlet-name>
		<url-pattern>/eclat</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>download</servlet-name>
		<url-pattern>/download</url-pattern>
	</servlet-mapping>
	
</web-app>
